body {
	width: 1000;
	height: 1000;
	margin-left: auto;
    margin-right: auto; 
	overflow-x: hidden; 
    overflow-y: hidden;
}

#back {
	position: absolute;
	top: 1%;
	left: 1%;
	width:100px;
	height:100px;
	z-index: 80;
	background: url('../../img/back small.png') left center;
}

#book {
	position: absolute;
	top: 86%;
	right: 20%;
	width:100px;
	height:100px;
	z-index: 80; 
	background: url('../../img/mountain magic/1.png') left center;
	background-size: 100px 100px;
    background-repeat: no-repeat;
}

#playgame{
	position: absolute;
	top: 550px;
	left: 260px;
	width:100px;
	height:150px;
	z-index: 80;
}

#playground {
	width: 1024px;
	height:768px;
	margin: 1% auto;
	background: url('../../img/play/playground.png') left center;
	animation: playground 1.5s steps(6) infinite;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

@keyframes playground {
	0% { background-position: 6144px; }
	100% { background-position: 0; }
	
}

#playerFollower {
	position : absolute;
	top: 60%;
	z-index: 1;
}

#player {
	width:128px;
	height:512px;
	margin: 1% auto;
	position : absolute;
	left: -50px;
	bottom: -200px;
	background: url('../../img/play/player.png') left center;
	animation: player 1.0s steps(8) infinite;
	transform: rotateY(180deg);
	pointer-events: none;
}

@keyframes player {
	0% { background-position: 1024px; }
	100% { background-position: 0; }
	
}
  
#follower{
	position : absolute;
    pointer-events: none;
}

#playerstop{
	position: absolute;
	top: 0%;
	left: -100px;
	width: 200px;
	height: 786px;
	display: block;
}


#flipplayer{
	bottom: -320px;
	position: absolute;
	width: 800px;
	height: 786px;
}

#flipplayer:hover #player {
    transform: rotateY(0deg);

}

#playerstop:hover ~ #player {
	background: url('../../img/play/player still.png') left center;
	animation: still 1.4s steps(8) infinite;

}

@keyframes still {
	0% { background-position: 1024px; }
	100% { background-position: 0; }	
}

#owl {
	width:128px;
	height:128px;
	margin: 1% auto;
	background: url('../../img/play/owl.png') left center;
	animation: owl 0.5s steps(4) infinite;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

@keyframes owl {
	0% { background-position: 512px; }
	100% { background-position: 0; }
	
}

#butterfly {
	width:64px;
	height:128px;
	margin: 1% auto;
	background: url('../../img/play/butterfly.png') left center;
	animation: fly 0.2s steps(2) infinite;
	pointer-events: none;
}

@keyframes fly {
	0% { background-position: 128px; }
	100% { background-position: 0; }
	
}

#butterflymove {
    position: relative;
    animation-name: move;
    animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	pointer-events: none;
}

@-webkit-keyframes move {
    0%   {left:550px; top:-500px;}
    100% {left:-550px; top:-500px;}
}


#butterflymoveupdown {
	position: relative;
    animation-name: updown;
    animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	pointer-events: none;
}

@-webkit-keyframes updown {
    0%   {left:0px; top:100px;}
    50%  {left:0px; top:0px;}
	100% {left:0px; top:100px;}
}

#dog {
	position: relative;
	width: 128px;
	height:256px;
	right: 190px;
	bottom: 380px;
	margin: 1% auto;
	background: url('../../img/play/dog.png') left center;
	animation: wagging 0.3s steps(4) infinite;
	
}

@keyframes wagging {
	0% { background-position: 512px; }
	100% { background-position: 0; }
	
}

#gameframe {
	position: absolute;
	margin-left: 200px;
	margin-top: 50px;
}

#flipbookappear {
	position: relative;
    animation-name: bookappear;
    animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	-moz-animation-name: bookappear;
    -moz-animation-duration: 2s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: ease-out;
}

@-webkit-keyframes bookappear {
    0%   {left:0px; top:-500px;}
	0%  { opacity: 0; }
	100% {left:0px; top:200px;}
	100%  { opacity: 1; }
}

@-moz-keyframes bookappear {
    0%   {left:0px; top:-500px;}
	0%  { opacity: 0; }
	100% {left:0px; top:200px;}
	100%  { opacity: 1; }
}

/* turnjs */

#flipbook{
	position: relative;
	top: 30%;
	right: -10%;
    width:800px;
    height:400px;
}

#flipbook .page{
    width:800px;
    height:400px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;   
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}
