body {
	width: 1000;
	height: 1000;
	margin-left: auto;
    margin-right: auto; 
	overflow-x: hidden; 
    overflow-y: hidden;

}

#background {
	position: absolute;
	width: 1024px;
	height:768px;
	background: url('../../img/sky choose.png') left center;
	background-size: 100%;
	z-index: -50;
}
 
#back {
	position: absolute;
	top: 1%;
	left: 1%;
	width:100px;
	height:100px;
	z-index: 80;
	background: url('../../img/back small.png') left center;
}
 
#wavecontainer{
	position: absolute;
	top: 32%;
    width: 100%;
	z-index: -1;
	
}
  
#follower{
  position : absolute;
  transform: translateZ(0);
  z-index: -1;
}

#boat {
	top: 200px;
	position : absolute;
	left: 50px;
	width:128px;
	height:128px;
	margin: 1% auto;
	background: url('../../img/choose/boat.png') left center;
	animation: boat 1.0s steps(8) infinite;
	transform: rotateY(0deg);
}

@keyframes boat {
	0% { background-position: 1024px; }
	100% { background-position: 0; }
}

#boatstop{
	position: absolute;
	top: 175px;
	left: -50px;
	width: 100px;
	height: 150px;
	/*background-color: blue;*/
	display: block;
}


#flipboat{
	top: -250px;
	bottom: -600px;
	position: absolute;
	width: 600px;
	height: 600px;
	/*background-color: red;*/	
}

#flipboat:hover #boat {
    transform: rotateY(180deg);
}

#boatstop:hover ~ #boat {
	background: url('../../img/choose/boatstill.png') left center;
	animation: still 1.0s steps(4) infinite;

}

@keyframes still {
	0% { background-position: 512px; }
	100% { background-position: 0; }
	
}

#wave {
	height:512px;
	margin: 1% auto;
	background: url('../../img/choose/waveanimation.png') left center;
	animation: wave 3.0s steps(13) infinite;
}

@keyframes wave {
	0% { background-position: 6656px; }
	100% { background-position: 0; }
	
}

#adventureIslandContainer {
	width:200px;
	height:200px;
	position: absolute;
    top: 550px;
    left: 100px;
	z-index: 5;
	/*background: green;*/
}

#adventureIsland {
	position: absolute;
	top:-125px;
	right: -200px;
	width:512px;
	height:310px;
	margin: 1% auto;
	background: url('../../img/choose/adventure island.png') left center;
	animation: adventure 1.5s steps(4) infinite;
	pointer-events: none;
}

#adventureIslandTitle {
	position: absolute;
	top: -100px;
	font-weight: bold;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
}

@keyframes adventure {
	0% { background-position: 2048px; }
	100% { background-position: 0; }	
}

#adventureIslandContainer:hover #adventureIsland {
	animation: adventurehover 1.5s steps(4) infinite;
}

@keyframes adventurehover {
	0% { background-position: 2048px; }
	50% { opacity: 0.5; }
	100% { background-position: 0; }	
}


#adventureIslandContainer:hover #adventureIslandTitle {
	animation: adventuretitlehover 0.5s  infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: adventuretitlehover 0.5s  infinite;
	-moz-animation-timing-function: linear;
}

@keyframes adventuretitlehover {
    0% {
        -webkit-transform: scale(1.0);
		opacity: 1; 
    }
	50% {
		-webkit-transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1.0);
		opacity: 1; 
	}
}

@-moz-keyframes adventuretitlehover {
    0% {
        -moz-transform: scale(1.0);
		opacity: 1; 
    }
	50% {
		-moz-transform: scale(1.1);
	}
	100%{
		-moz-transform: scale(1.0);
		opacity: 1; 
	}
}

#playtimeIslandContainer {
	width:200px;
	height:200px;
	position: absolute;
    top: 550px;
    right: 200px;
	z-index: 5;
	/*background: green;*/
}

#playtimeIsland {
	position: absolute;
	top:-50px;
	right: -200px;
	width:512px;
	height:218px;
	margin: 1% auto;
	background: url('../../img/choose/playtime island.png') left center;
	animation: playtime 1.5s steps(4) infinite;
	pointer-events: none;
}

#playtimeIslandTitle{
	position: absolute;
	top: -100px;	
	right: -100px;
	font-weight: bold;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
}


@keyframes playtime {
	0% { background-position: 2048px; }
	100% { background-position: 0; }	
}

#playtimeIslandContainer:hover #playtimeIsland {
	animation: playtimehover 1.5s steps(4) infinite;
}


@keyframes playtimehover {
	0% { background-position: 2048px; }
	50% { opacity: 0.5; }
	100% { background-position: 0; }	
}

#playtimeIslandContainer:hover #playtimeIslandTitle {
	animation: playtimetitlehover 0.5s  infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: playtimetitlehover 0.5s  infinite;
	-moz-animation-timing-function: linear;
}

@keyframes playtimetitlehover {
    0% {
        -webkit-transform: scale(1.0);
		opacity: 1; 
    }
	50% {
		-webkit-transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1.0);
		opacity: 1; 
	}
}

@-moz-keyframes playtimetitlehover {
    0% {
        -moz-transform: scale(1.0);
		opacity: 1; 
    }
	50% {
		-moz-transform: scale(1.1);
	}
	100%{
		-moz-transform: scale(1.0);
		opacity: 1; 
	}
}


#sleeptimeIslandContainer {	
	width:200px;
	height:200px;
	position: absolute;
    top: 350px;
    right: 450px;
	z-index: 5;
	/*background: green;*/
}

#sleeptimeIsland {
	position: absolute;
	top:-200px;
	right: -200px;
	width:512px;
	height:512px;
	margin: 1% auto;
	background: url('../../img/choose/sleeptime island.png') left center;
	animation: sleeptime 1.5s steps(4) infinite;
	pointer-events: none;
}

#sleeptimeIslandTitle{
	position: absolute;
	top: -100px;
	right: -30px;
	font-weight: bold;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
}


@keyframes sleeptime {
	0% { background-position: 1900px; }
	100% { background-position: 0; }	
}

#sleeptimeIslandContainer:hover #sleeptimeIsland {
	animation: sleeptimehover 1.5s steps(4) infinite;
}

@keyframes sleeptimehover {
	0% { background-position: 1900px; }
	50% { opacity: 0.5; }
	100% { background-position: 0; }	
}

#sleeptimeIslandContainer:hover #sleeptimeIslandTitle {
	animation: sleeptimetitlehover 0.5s  infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: sleeptimetitlehover 0.5s  infinite;
	-moz-animation-timing-function: linear;
}

@keyframes sleeptimetitlehover {
    0% {
        -webkit-transform: scale(1.0);
		opacity: 1; 
    }
	50% {
		-webkit-transform: scale(1.1);
	}
	100%{
		-webkit-transform: scale(1.0);
		opacity: 1; 
	}
}

@-moz-keyframes sleeptimetitlehover {
    0% {
        -moz-transform: scale(1.0);
		opacity: 1; 
    }
	50% {
		-moz-transform: scale(1.1);
	}
	100%{
		-moz-transform: scale(1.0);
		opacity: 1; 
	}
}
