body {
	width: 1000;
	height: 1000;
	margin-left: auto;
    margin-right: auto; 
	overflow-x: hidden; 
    overflow-y: hidden;
	background-color: #66ccff;
}

#book {
	position: absolute;
	top: 30%;
	right: 50%;
	width:100px;
	height:100px;
	z-index: 80;
	background: red; 
}

#top-container {
	bottom: 100%;
}

#monkey {
	width:128px;
	height:512px;
	margin: 1% auto;
	background: url('../../img/adventure/monkey.png') left center;
	animation: play 1.0s steps(8) infinite;
}

@keyframes play {
	0% { background-position: 1024px; }
	100% { background-position: 0; }
	
}

#movement {
    position: relative;
    animation-name: example;
    animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes example {
    0%   {left:-600px; top:450px;}
    100% {left:600px; top:450px;}
}

#jungle {
	width: 1024px;
	height:768px;
	margin: 1% auto;
	background: url('../../img/adventure/jungle.png') left center;
	animation: jungle 1.5s steps(6) infinite;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

@keyframes jungle {
	0% { background-position: 6144px; }
	100% { background-position: 0; }
	
}

#playerFollower {
	position : absolute;
	top: 60%;
}

#player {
	width:128px;
	height:512px;
	margin: 1% auto;
	position : absolute;
	left: -50px;
	bottom: -200px;
	background: url('../../img/adventure/player.png') left center;
	animation: player 1.0s steps(8) infinite;
	transform: rotateY(180deg);
	pointer-events: none;
}

@keyframes player {
	0% { background-position: 1024px; }
	100% { background-position: 0; }
	
}
  
#follower{
  position : absolute;
}

#playerstop{
	position: absolute;
	top: 0%;
	left: -100px;
	width: 200px;
	height: 786px;
	display: block;
}

#flipplayer{

	bottom: -320px;
	position: absolute;
	width: 800px;
	height: 786px;	
}

#flipplayer:hover #player {
    transform: rotateY(0deg);

}

#playerstop:hover ~ #player {
	background: url('../../img/adventure/player still.png') left center;
	animation: still 1.4s steps(8) infinite;

}

@keyframes still {
	0% { background-position: 1024px; }
	100% { background-position: 0; }
}

#owl {
	width:128px;
	height:128px;
	margin: 1% auto;
	background: url('../../img/adventure/owl.png') left center;
	animation: owl 0.5s steps(4) infinite;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

@keyframes owl {
	0% { background-position: 512px; }
	100% { background-position: 0; }	
}

#flipbookappear {
	position: relative;
    animation-name: bookappear;
    animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@-webkit-keyframes bookappear {
    0%   {left:0px; top:-500px;}
	0%  { opacity: 0; }
	100% {left:0px; top:200px;}
	100%  { opacity: 1; }
}

/* turnjs */

#flipbook{
	position: relative;
	top: 30%;
	right: -10%;
    width:800px;
    height:400px;
}

#flipbook .page{
    width:800px;
    height:400px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;   
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

